* {
      box-sizing: border-box;

}

html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      scroll-behavior: smooth;

}

body {
      font-family: fontone;
      margin: 0;
      padding: 0;
 

}

@font-face {
    font-family: fontone;
    src:url("fontone.otf");
}

nav {
      padding: 8px;

}

.logo {
      float: left;
      padding: 8px;
      margin-left: 16px;
      margin-top: 8px;
      position: fixed;
}

.logo a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 0px;
      text-decoration: none;
}

nav ul {
      float: right;

}

nav ul li {
      display: inline-block;
      float: left;

}

nav ul li:not(:first-child) {
      margin-left: 48px;
}

nav ul li:last-child {
      margin-right: 24px;
}

nav ul li a {
      display: inline-block;
      outline: none;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

.conatainer {
      width: 100%;
      height: 100vh;
      font-weight: 400;
      background: url(background-img.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      
     
}

.home-cont {
      padding: 250px 100px 200px 100px;
      text-align: left;
}


.home-cont h2{
      color: #fff;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 40px;
      padding: 0;
}

.home-cont p{
      color: #fff;
      font-size: 20px;
}


/*.home-cont img {
      width: 100px;
      height: 100px;
      padding-bottom: 100px;
}
*/

.social-med {
      padding-top: 280px;
}

.social-med img{
      width: 50px;
      height: 50px;
      opacity: 0.6;
      padding: 5px;
}

/*ABOUT SECTION*/

.about-pad {
      padding: 200px 100px 180px 100px;
      text-align: center;
}

.about-pad h2 {
      padding-bottom: 150px;
      color: #2b2b2b;
      text-transform: uppercase;
}

.about-pad p {
      text-align: justify;
      color: #575757;
      padding-top: 20px;
}

.about-pad img {
      width: 195px;
      height: 190px;
      border-radius: 100%;
}


/*PORTFOLIO SECTION*/



@media screen and (max-width: 864px) {
      .logo {
            padding: 0;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #212121;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;

      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }

      .home-cont {
            padding: 200px 100px 10px 100px;
            text-align: center;

      }

      .home-cont h2 {
            font-size: 30px;
            padding-bottom: 10px;
            letter-spacing: 8px;
      }

      .home-cont p{
            font-size: 15px;
            color: #e0e0e0;

      }

      .home-cont span{
            letter-spacing: 12px;
      }

      .social-med {
            padding-top: 280px;

      }

      .social-med img {
            width: 50px;
            height: 50px;
            opacity: 0.6;
            padding: 5px;
      }



}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #212121;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}
